// $primary-color: #560068;
// $primary-color: #c0004a;
// $header-color: #0b9270;
// $header-color: #007fc9;
// $header-color: #9d9290;
// $header-color: #7a912c;
// $header-color: #496802;
// $header-color: #496802;
// $header-color: #3aafa9;
// $header-color: #bc986a;

// $primary-color: #7d2ae8;
// $primary-color: #0b9270;
// $primary-color: #8130a1;
// $primary-color: #7a912c;
// $primary-color: #496803;

// $primary-color: #3aafa9;
// $primary-color: #bc986a;
$primary-color: #0e9e8b;

// $toggle-button-edit-color: rgb(150, 150, 150);
$toggle-button-edit-color: rgb(160, 160, 160);
// $toggle-button-preview-color: #2196f3;
$toggle-button-preview-color: #2196f3;

// $print-icon-color: #0e9e8b;
$print-icon-color: #2196f3;

// $toggle-button-preview-color: #3aafa9;
// $toggle-button-preview-color: #3aafa9;

$contact-option-bg-color: rgb(77, 77, 77);

$delete-button-color: black;
$divide-line-color: rgb(150, 150, 150);

$left-column-padding: 20px;
$left-column-top-padding: 10px;

// $components-wrapper-bg-color: #f3f3f3;
$components-wrapper-bg-color: #feffff;

// $background-color-left-side: #e2dedf;
// $background-color-left-side: #f3f3f3;
$background-color-left-side: #ebebeb;

// $body-bg-color: #d5c3c3;
// $body-bg-color: #def2f1;
// $body-bg-color: #def2f1;
$body-bg-color: #e4f1f1;
