// $primary-color: #560068;
// $primary-color: #c0004a;
// $header-color: #0b9270;
// $header-color: #007fc9;
// $header-color: #9d9290;
// $header-color: #7a912c;
$header-color: #496802;

// $primary-color: #7d2ae8;
// $primary-color: #0b9270;
// $primary-color: #8130a1;
$primary-color: #7a912c;

// $toggle-button-edit-color: rgb(150, 150, 150);
$toggle-button-edit-color: rgb(150, 150, 150);
// $toggle-button-preview-color: #2196f3;
$toggle-button-preview-color: #2196f3;

$delete-button-color: black;
