// primary theme color
$primary-color: #0e9e8b;

// unchecked edit-preview toggle button color
$toggle-button-edit-color: rgb(160, 160, 160);

// checked edit-preview toggle butotn color
$toggle-button-preview-color: #2196f3;

// print icon color
$print-icon-color: #2196f3;

// contact icons color
$contact-option-bg-color: rgb(77, 77, 77);

// delete icon color
$delete-button-color: black;

// divide lines for cv components color
$divide-line-color: rgb(150, 150, 150);

// padding for the left column on desktop view
$left-column-padding: 20px;

// padding for the top of a cv component
$left-column-top-padding: 10px;

// components-wrapper background color
$components-wrapper-bg-color: #feffff;

// left column of the components-wrapper background color
$background-color-left-side: #ebebeb;

// body background color
$body-bg-color: #e4f1f1;
