@import "./partials/variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #d5c3c3;
}

.toggle-button-text-container {
  margin-top: 100px;
}

.component-header-edit-mode,
.component-header-display-mode {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  @media screen and (min-width: 600px) {
    // justify-content: start;
  }
}

.component-header-edit-mode-left,
.component-header-display-mode-left {
  @media screen and (min-width: 600px) {
    justify-content: start;
    padding: 0;
    text-align: left;
  }
}

.component-item {
  position: relative;
  // padding: 0 10px;
}

// .toggle-button-text {
//   // position: relative;
//   margin: 100px auto 20px auto;
//   display: flex;
//   // flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   // border: 1px solid red;
//   // .edit-or-preview-mode {
//   //   margin-bottom: 10px;
//   // }
//   .toggle-button-text-box {
//     width: 90px;
//     height: 40px;
//     // border: 1px solid red;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .toggle-button-text-box-edit {
//     justify-content: end;
//   }
//   .toggle-button-text-box-preview {
//     display: flex;
//     justify-content: start;
//   }
// }

.edit-preview-button {
  margin-top: 100px;
  display: block;
  margin: 120px auto 0px auto;
}

.components-wrapper {
  width: 80%;
  max-width: 600px;
  margin: 30px auto 30px auto;
  // border: 1px solid red;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  // background-color: rgb(255, 211, 65);
  background-color: #f3f3f3;
  > * {
    // border-bottom: 1px solid black;
    // padding-bottom: 30px;
    // padding-top: 20px;
    background-color: #e2dedf;
  }
}

// .component-divide-line-wrapper {
//   margin-top: 20px;
//   margin-bottom: 20px;
.component-divide-line {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  // width: 80%;
  // padding: 0 20px;
  background-color: $divide-line-color;
  // margin: 30px auto 20px auto;
}
// }

input {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

.props-value-name-title {
  width: 100%;
  display: block;
}

// button {
//   border: none;
//   border-radius: 4px;
//   padding: 5px 10px;
//   // background: purple;
//   // color: white;
//   text-transform: uppercase;
//   font-weight: 700;
// }

.components-wrapper {
  display: grid;
  // grid-template-columns: 1fr;
  // @media screen and (min-width: 600px) {
  //   grid-template-columns: 1fr 2fr;
  // }
  grid-template-columns: repeat(3, 1fr);
  @media screen and (min-width: 600px) {
    grid-column-gap: 20px;
  }
  grid-template-areas:
    // "name-function"
    // "contact"
    // "profile-description"
    // "education"
    // "professional-experience"
    // "expertise";

    "profile-pic name-function name-function"
    "contact contact contact"
    "profile-description profile-description profile-description"
    "professional-experience professional-experience professional-experience"
    "education education education"
    "expertise expertise expertise";
  @media screen and (min-width: 600px) {
    grid-template-areas:
      "profile-pic name-function name-function"
      "contact profile-description profile-description"
      "education professional-experience professional-experience"
      "expertise professional-experience professional-experience";
  }
}

.profile-pic {
  grid-area: profile-pic;
  padding: $left-column-padding;
  padding-bottom: 0;
  padding-top: 40px;
  // padding: 0 8px;
  // .profile-avatar {
  //   background-color: yellow;
  // }
}

.contact {
  // @media screen and (min-width: 600px) {
  //   grid-column: 1;
  //   grid-row: 1;
  // }
  grid-area: contact;
  // padding: 0 $left-column-padding 0 $left-column-padding;
  padding: $left-column-top-padding $left-column-padding 0 $left-column-padding;

  // padding: 0 8px;
  // // .profile-pic,
  // .contact-header,
  // .contact-options {
  //   background-color: yellow;
  // }
}

.education {
  // @media screen and (min-width: 600px) {
  //   grid-column: 1;
  //   grid-row: 2;
  // }
  grid-area: education;
  // padding: 0 $left-column-padding;
  padding: $left-column-top-padding $left-column-padding 0 $left-column-padding;

  // padding: 0 8px;
  // .education-header,
  // .education-degrees {
  //   background-color: yellow;
  // }
}

.expertise {
  // @media screen and (min-width: 600px) {
  //   grid-column: 1;
  //   grid-row: 3;
  // }
  grid-area: expertise;
  // border-bottom: 0;
  padding: 0 $left-column-padding;
  // padding-bottom: $left-column-padding;
  padding: $left-column-top-padding $left-column-padding $left-column-padding
    $left-column-padding;

  // padding: 0 8px;
  // .expertise-header,
  // .expertise-skills {
  //   background-color: yellow;
  // }
}

.name-function {
  // order: 1;
  // @media screen and (min-width: 600px) {
  //   grid-column: 2;
  //   grid-row: 1;
  // }
  grid-area: name-function;
  padding: $left-column-padding;
  padding-top: 40px;
}

.profile-description {
  // @media screen and (min-width: 600px) {
  //   grid-column: 2;
  //   grid-row: 2;
  // }
  grid-area: profile-description;
  // padding: 0 $left-column-padding;
  padding: $left-column-top-padding $left-column-padding 0 $left-column-padding;
}

.professional-experience {
  // @media screen and (min-width: 600px) {
  //   grid-column: 2;
  //   grid-row: 3;
  // }
  grid-area: professional-experience;
  // padding: 0 $left-column-padding;
  padding: $left-column-top-padding $left-column-padding 0 $left-column-padding;

  // @media screen and (min-width: 600px) {
  //   border-bottom: 0;
  // }
}
