html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.components-wrapper {
  width: 80%;
  max-width: 600px;
  margin: 100px auto 30px auto;
  // border: 1px solid red;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  // background-color: rgb(255, 211, 65);
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

// button {
//   border: none;
//   border-radius: 4px;
//   padding: 5px 10px;
//   // background: purple;
//   // color: white;
//   text-transform: uppercase;
//   font-weight: 700;
// }

.components-wrapper {
  display: grid;
  // grid-template-columns: 1fr;
  // @media screen and (min-width: 600px) {
  //   grid-template-columns: 1fr 2fr;
  // }
  grid-template-areas:
    "name-function"
    "contact"
    "profile-description"
    "education"
    "professional-experience"
    "expertise";
  @media screen and (min-width: 600px) {
    grid-template-areas:
      "contact name-function"
      "contact profile-description"
      "education professional-experience"
      "expertise professional-experience";
  }
}

.contact {
  // @media screen and (min-width: 600px) {
  //   grid-column: 1;
  //   grid-row: 1;
  // }
  grid-area: contact;
  padding: 0 8px;
  .profile-pic,
  .contact-header,
  .contact-options {
    background-color: yellow;
  }
}

.education {
  // @media screen and (min-width: 600px) {
  //   grid-column: 1;
  //   grid-row: 2;
  // }
  grid-area: education;
  padding: 0 8px;
  .education-header,
  .education-degrees {
    background-color: yellow;
  }
}

.expertise {
  // @media screen and (min-width: 600px) {
  //   grid-column: 1;
  //   grid-row: 3;
  // }
  grid-area: expertise;
  padding: 0 8px;
  .expertise-header,
  .expertise-skills {
    background-color: yellow;
  }
}

.name-function {
  // order: 1;
  // @media screen and (min-width: 600px) {
  //   grid-column: 2;
  //   grid-row: 1;
  // }
  grid-area: name-function;
}

.profile-description {
  // @media screen and (min-width: 600px) {
  //   grid-column: 2;
  //   grid-row: 2;
  // }
  grid-area: profile-description;
}

.professional-experience {
  // @media screen and (min-width: 600px) {
  //   grid-column: 2;
  //   grid-row: 3;
  // }
  grid-area: professional-experience;
}
