html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.components-wrapper {
  width: 80%;
  max-width: 600px;
  margin: 100px auto 30px auto;
  // border: 1px solid red;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  // background-color: rgb(255, 211, 65);
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

// button {
//   border: none;
//   border-radius: 4px;
//   padding: 5px 10px;
//   // background: purple;
//   // color: white;
//   text-transform: uppercase;
//   font-weight: 700;
// }
