.component-input-wrapper-expertise {
  position: relative;
  margin-bottom: 10px;
  input {
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

.props-value-inputexpertise {
  margin-bottom: 16px;
  font-weight: 300;
  text-align: center;
}
