@import "./partials/variables";

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 20px 0;
  width: 100%;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: $primary-color;
  box-shadow: 0px 0px 10px black;
}
