@import "./partials/variables";

.print-icon {
  font-size: 28px;
  color: $print-icon-color;
  cursor: pointer;
}
// .print-icon {
//   font-size: 16px;
//   color: $print-icon-color;
//   color: white;
//   border: none;
//   padding: 6px 24px;
//   background: $primary-color;
// }
