.toggle-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  .toggle-button-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
  }
  .toggle-button-text-box-edit {
    justify-content: flex-end;
  }
  .toggle-button-text-box-preview {
    display: flex;
    justify-content: flex-start;
  }
}

label {
  margin: 0;
}
