.toggle-button-text {
  // position: relative;
  // margin: 100px auto 20px auto;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  // .edit-or-preview-mode {
  //   margin-bottom: 10px;
  // }
  .toggle-button-text-box {
    width: 90px;
    height: 40px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toggle-button-text-box-edit {
    justify-content: end;
  }
  .toggle-button-text-box-preview {
    display: flex;
    justify-content: start;
  }
}
