.toggle-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  .toggle-button-text-box {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toggle-button-text-box-edit {
    justify-content: end;
  }
  .toggle-button-text-box-preview {
    display: flex;
    justify-content: flex-start;
  }
}

label {
  margin: 0;
}
