@import "./partials/variables";

.switch {
  position: relative;
  display: block;
  margin: 0;
  width: 52px;
  height: 30px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $toggle-button-edit-color;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  bottom: 4px;
  left: 4px;
  background-color: white;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: $toggle-button-preview-color;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.rounded {
  border-radius: 34px;
}

.slider.rounded:before {
  border-radius: 50%;
}
